<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Öğrenci Güncelle</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <h2>✏️ Öğrenci Güncelle</h2>
      <form method="POST">
        <div class="mb-3">
          <label>Ad</label>
          <input
            type="text"
            name="ad"
            class="form-control"
            value="{{ ogrenci['ad'] }}"
            required
          />
        </div>
        <div class="mb-3">
          <label>Soyad</label>
          <input
            type="text"
            name="soyad"
            class="form-control"
            value="{{ ogrenci['soyad'] }}"
            required
          />
        </div>
        <div class="mb-3">
          <label>Numara</label>
          <input
            type="text"
            name="numara"
            class="form-control"
            value="{{ ogrenci['numara'] }}"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="/" class="btn btn-secondary">İptal</a>
      </form>
    </div>
  </body>
</html>
